<div class="container mt-2">
    <div class="row d-flex justify-content-between">
        <div class="col-xl-6">
            <div class="mt-3 mb-3">
                <h2 class="fw-bold">Manage material type</h2>
            </div>
        </div>
        <div class="col-xl-6 ">
            <div class="text-end mt-3 mb-4">
                <div><button type="button" class="btn-blue" (click)="openMaterial(subject)">
                       Add material
                    </button>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="card-2">
                <div class="card-body table-responsive">
                    <table id="emplist" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let master of masters; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{master.name}}</td>
                                <td>{{master.description}}</td>
                                <td>{{master.status}}</td>
                                <td>
                                    <mat-icon class="text-primary" (click)="editBatch(master,subject)">edit</mat-icon>
                                    <mat-icon (click)="delete(master.id)" class="text-danger">delete</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
<ng-template #subject let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Material</h2>
        <button type="button" class="close rounded" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="subject">
        <div class="row d-flex justify-content-between">
            <form [formGroup]="masterForm" (ngSubmit)="getMaster(modal)">
                <div class="row mb-4">
                    <div class="col-xl-6">
                        <input type="hidden" formControlName="id">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name *" id="name" formControlName="name"
                                required [(ngModel)]="list.name"
                                [ngClass]="{ 'is-invalid': submitted && f['name'].errors || f['name'].touched && f['name'].errors }" />
                            <div *ngIf="submitted && f['name'].errors || f['name'].touched && f['name'].errors"
                                class="invalid-feedback">
                                <div *ngIf="f['name'].errors['required']">Name is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Description" id="description"
                                formControlName="description" required [(ngModel)]="list.description"
                                [ngClass]="{ 'is-invalid': submitted && f['description'].errors || f['description'].touched && f['description'].errors }" />
                            <div *ngIf="submitted && f['description'].errors || f['description'].touched && f['description'].errors"
                                class="invalid-feedback">
                                <div *ngIf="f['description'].errors['required']">Description is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end gap-4 mt-3">
                        <button type="reset" class="btn btn-danger mb-3 float-end px-4" id="">Cancel</button>
                        <button type="submit" class="btn-blue mb-3 float-end px-4" id="">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>