<div class="container px-2 py-5 ">
    <div class="row ">
        <div class="bg-soft-primary">
            <div class="row">
                <div class="col-10 align-self-center">
                    <div class="">
                        <h2 class="text-dark">Site Engineer </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="card shadow"> -->
        <div class="card-body">
            <div class="pb-3">
                <form class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="siteForm">
                    <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
                    <div class="row">
                        <div class="col-md-4  col-12">
                            <div class="form-group">
                                <!-- <label>Name</label> -->
                                <input type="text" formControlName="name" [(ngModel)]="siteengineerObj.name" placeholder="Name" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['name'].errors || f['name'].touched && f['name'].errors }" />
                                <div *ngIf="submitted && f['name'].errors || f['name'].touched && f['name'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['name'].errors['required']">Name is required</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 mb-3 col-12">
                            <div class="form-group">
                                <!-- <label>Email</label> -->
                                <input type="text" formControlName="email" [(ngModel)]="siteengineerObj.email" placeholder="Email" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors || f['email'].touched && f['email'].errors }" />
                                <div *ngIf="submitted && f['email'].errors || f['email'].touched && f['email'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mb-2 col-12">
                            <div class="form-group">
                                <!-- <label>Phone Number1</label> -->
                                <input type="number" formControlName="phoneNo" [(ngModel)]="siteengineerObj.phoneNo" placeholder="Phone Number1"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['phoneNo'].errors || f['phoneNo'].touched && f['phoneNo'].errors }" />
                                <div *ngIf="submitted && f['phoneNo'].errors || f['phoneNo'].touched && f['phoneNo'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['phoneNo'].errors['required']">Phone Number1 is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2 col-12">
                            <div class="form-group">
                                <!-- <label>Phone Number2</label> -->
                                <input type="number" formControlName="phoneNo2" [(ngModel)]="siteengineerObj.phoneNo2" placeholder="Phone Number2"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['phoneNo2'].errors || f['phoneNo2'].touched && f['phoneNo2'].errors }" />
                                <div *ngIf="submitted && f['phoneNo2'].errors || f['phoneNo2'].touched && f['phoneNo2'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['phoneNo2'].errors['required']">Phone Number2 is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2 col-12">
                            <div class="form-group">
                                <!-- <label>Address1</label> -->
                                <textarea type="text" formControlName="addressLine1" [(ngModel)]="siteengineerObj.addressLine1" placeholder="Address1"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['addressLine1'].errors || f['addressLine1'].touched && f['addressLine1'].errors }"></textarea>
                                <div *ngIf="submitted && f['addressLine1'].errors || f['addressLine1'].touched && f['addressLine1'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['addressLine1'].errors['required']">Address1 is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  mt-2 col-12">
                            <div class="form-group">
                                <!-- <label>Address2</label> -->
                                <textarea type="text" formControlName="addressLine2" [(ngModel)]="siteengineerObj.addressLine2"  placeholder="Address2"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['addressLine2'].errors || f['addressLine2'].touched && f['addressLine2'].errors }"></textarea>
                                <div *ngIf="submitted && f['addressLine2'].errors || f['addressLine2'].touched && f['addressLine2'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['addressLine2'].errors['required']">Address2 is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  mt-3 col-12">

                            <div class="form-group">
                                <!-- <label>Country </label> -->
                                <ng-select [items]=countryArr bindLabel="countryName" bindValue="id"
                                    (change)="getState($event.id)" placeholder="Country" formControlName="countryId" [(ngModel)]="siteengineerObj.countryId"
                                    [ngClass]="{ 'is-invalid': submitted && f['countryId'].errors || f['countryId'].touched && f['countryId'].errors }">
                                </ng-select>
                                <div *ngIf="submitted && f['countryId'].errors || f['countryId'].touched && f['countryId'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['countryId'].errors['required']">Country is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-3 col-12">

                            <div class="form-group">
                                <!-- <label>State </label> -->
                                <ng-select [items]=stateArr id="productname" bindLabel="name" bindValue="id"
                                    (change)="getCity($event.id)" placeholder="State" formControlName="stateId" [(ngModel)]="siteengineerObj.stateId"
                                    [ngClass]="{ 'is-invalid': submitted && f['stateId'].errors || f['stateId'].touched && f['stateId'].errors }">
                                </ng-select>
                                <div *ngIf="submitted && f['stateId'].errors || f['stateId'].touched && f['stateId'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['stateId'].errors['required']">State is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4  mt-3 col-12">

                            <div class="form-group">
                                <!-- <label>City </label> -->
                                <ng-select [items]=cityArr id="productname" bindLabel="name" bindValue="id"
                                    placeholder="City" formControlName="cityId" [(ngModel)]="siteengineerObj.cityId"
                                    [ngClass]="{ 'is-invalid': submitted && f['cityId'].errors || f['cityId'].touched && f['cityId'].errors }">
                                </ng-select>
                                <div *ngIf="submitted && f['cityId'].errors || f['cityId'].touched && f['cityId'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['cityId'].errors['required']">City is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-4 col-12">
                            <div class="form-group">
                                <!-- <label>Pincode</label> -->
                                <input type="number" formControlName="pinCode" [(ngModel)]="siteengineerObj.pinCode" placeholder="Pincode" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['pinCode'].errors || f['pinCode'].touched && f['pinCode'].errors }" />
                                <div *ngIf="submitted && f['pinCode'].errors || f['pinCode'].touched && f['pinCode'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['pinCode'].errors['required']">Pincode is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-4 col-12">
                            <div class="form-group">
                                <!-- <label>Bank Name</label> -->
                                <input type="text" formControlName="bankName" [(ngModel)]="siteengineerObj.bankName" placeholder="Bank Name"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['bankName'].errors || f['bankName'].touched && f['bankName'].errors }" />
                                <div *ngIf="submitted && f['bankName'].errors || f['bankName'].touched && f['bankName'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['bankName'].errors['required']">Bank Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-4 col-12">
                            <div class="form-group">
                                <!-- <label>Bank Branch</label> -->
                                <input type="text" formControlName="bankBranch" [(ngModel)]="siteengineerObj.bankBranch" placeholder="Bank Branch"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['bankBranch'].errors || f['bankBranch'].touched && f['bankBranch'].errors }" />
                                <div *ngIf="submitted && f['bankBranch'].errors || f['bankBranch'].touched && f['bankBranch'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['bankBranch'].errors['required']">Bank Branch is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  mt-4 col-12">
                            <div class="form-group">
                                <!-- <label>IFSC code</label> -->
                                <input type="text" formControlName="ifscCode"  [(ngModel)]="siteengineerObj.ifscCode" placeholder="IFSC code"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['ifscCode'].errors || f['ifscCode'].touched && f['ifscCode'].errors }" />
                                <div *ngIf="submitted && f['ifscCode'].errors || f['ifscCode'].touched && f['ifscCode'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['ifscCode'].errors['required']">IFSC code is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-4 col-12">
                            <div class="form-group">
                                <!-- <label>Account Number</label> -->
                                <input type="number" formControlName="accountNo" [(ngModel)]="siteengineerObj.accountNo" placeholder="Account Number"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['accountNo'].errors || f['accountNo'].touched && f['accountNo'].errors }" />
                                <div *ngIf="submitted && f['accountNo'].errors || f['accountNo'].touched && f['accountNo'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['accountNo'].errors['required']">Account Number is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end gap-4">
                            <button type="submit" class="btn btn-primary mb-3 float-end px-4">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
