
.mat-form-field{
    width: 100%;
}
.ima{
    background-image: url(/assets/image10.webp);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
.card{
    background-color: white;
    opacity: 0.9;
  
}