<div class="container-fluid mt-2">
    <div class="row d-flex justify-content-between">
        <div class="col-xl-6">
            <div class="my-3 ms-2">
                <h3 class="fw-bold">Owner</h3>
            </div>
        </div>
        
    </div>
    <div class="card shadow">

        <div class="card-body">
            <div class="pb-3">
                <form class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="ownerForm">
                    <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
                    <div class="row">
                        <div class="col-md-4  col-12">
                            <div class="form-group">
                                <label>Owner Name</label>
                                <input type="text" formControlName="ownername" placeholder="Owner Name" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['ownerName'].errors || f['ownerName'].touched && f['ownerName'].errors }" />
                                <div *ngIf="submitted && f['ownerName'].errors || f['ownerName'].touched && f['ownerName'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['ownerName'].errors['required']">Owner Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group">
                                <label>Address1</label>
                                <input type="text" formControlName="Address1" placeholder="Address1"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['addressLine1'].errors || f['addressLine1'].touched && f['addressLine1'].errors }" />
                                <div *ngIf="submitted && f['addressLine1'].errors || f['addressLine1'].touched && f['addressLine1'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['addressLine1'].errors['required']">Address1 is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  mb-3 col-12">

                            <div class="form-group">
                                <label>Country </label>
                                <ng-select [items]=countryArr id="productname" bindLabel="name" bindValue="id"
                                    placeholder="Choose" formControlName="countryId"
                                    [ngClass]="{ 'is-invalid': submitted && f['countryId'].errors || f['countryId'].touched && f['countryId'].errors }">
                                </ng-select>
                                <div *ngIf="submitted && f['countryId'].errors || f['countryId'].touched && f['countryId'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['countryId'].errors['required']">Country is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-3 col-12">

                            <div class="form-group">
                                <label>State </label>
                                <ng-select [items]=stateArr id="productname" bindLabel="name" bindValue="id"
                                    placeholder="Choose" formControlName="stateId"
                                    [ngClass]="{ 'is-invalid': submitted && f['stateId'].errors || f['stateId'].touched && f['stateId'].errors }">
                                </ng-select>
                                <div *ngIf="submitted && f['stateId'].errors || f['stateId'].touched && f['stateId'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['stateId'].errors['required']">State is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  mt-3 col-12">

                            <div class="form-group">
                                <label>City </label>
                                <ng-select [items]=cityArr id="productname" bindLabel="name" bindValue="id"
                                    placeholder="Choose" formControlName="cityId"
                                    [ngClass]="{ 'is-invalid': submitted && f['cityId'].errors || f['cityId'].touched && f['cityId'].errors }">
                                </ng-select>
                                <div *ngIf="submitted && f['cityId'].errors || f['cityId'].touched && f['cityId'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['cityId'].errors['required']">City is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-3 col-12">
                            <div class="form-group">
                                <label>PhoneNo</label>
                                <input type="text" formControlName="phoneNo" placeholder="Phone" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['phoneNo'].errors || f['phoneNo'].touched && f['phoneNo'].errors }" />
                                <div *ngIf="submitted && f['phoneNo'].errors || f['phoneNo'].touched && f['phoneNo'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['phoneNo'].errors['required']">PhoneNo is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  mt-3 col-12">
                            <div class="form-group">
                                <label>Address2</label>
                                <input type="text" formControlName="addressLine2" placeholder="Address2"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['addressLine2'].errors || f['addressLine2'].touched && f['addressLine2'].errors }" />
                                <div *ngIf="submitted && f['addressLine2'].errors || f['addressLine2'].touched && f['addressLine2'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['addressLine2'].errors['required']">Address2 is required</div>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-4 mt-3 col-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" formControlName="email" placeholder="Email" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors || f['email'].touched && f['email'].errors }" />
                                <div *ngIf="submitted && f['email'].errors || f['email'].touched && f['email'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-md-4 mt-3 col-12">
                            <div class="form-group">
                                <label>PinCode</label>
                                <input type="text" formControlName="pinCode" placeholder="pinCode" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['pinCode'].errors || f['pinCode'].touched && f['pinCode'].errors }" />
                                <div *ngIf="submitted && f['pinCode'].errors || f['pinCode'].touched && f['pinCode'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['pinCode'].errors['required']">PinCode is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="m-3 mt-4  mt-3 form-group">
                            <button class="radius btn  btn-primary px-3" type="submit">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>